{% extends "master.html" %}

{% block content %}
<header class="bg-secondary p-3">
    <div class="d-flex justify-content-center flex-column text-white">

        <h1 class="display-5 fw-bold text-center">
            Ditch the Laundry, Embrace Freedom!
        </h1>
        <h3 class=" fw-bold text-center">
            Laundry Hero: Expert Wash & Fold at Your Doorstep.
        </h3>
        <p class=" lead text-center mx-3 ">
            Is laundry stealing your precious free time? Let Laundry Hero be your sidekick! We offer convenient, expert wash & fold service, right from your doorstep. Simply schedule a pickup, fill a bag with your dirty clothes, and we'll take care of the rest. You'll get your laundry back fresh, clean, and folded, ready to be put away (or worn right away!).
        </p>
        <p class="strong text-center mx-3">
            Stop dreading laundry day, start living your life!
        </p>

    </div>
</header>

<section class="p-4 bg-dark text-white">
    <div class="d-flex justify-content-center flex-column ">
        <h2 class="mx-auto display-5 fw-bold">
            Services Offered
        </h2>
        <ul class="mx-auto">
            <li>Next day Delivery</li>
            <li>Dry Cleaning</li>
            <li>Wash and Dry</li>
            <li>Starching of Shirts</li>
            <li>Stain Removal</li>
        </ul>
    </div>
</section>

<section class="p-4 bg-light">
    <div class="d-flex justify-content-center flex-column ">
        <h3 class="p-3 mx-auto display-5">
            Need help?
        </h3>
    </div>
    <div class="container text-center p-3">
        <a href="/accounts/signup" style="text-decoration: none;">
            <button type="button" class="btn btn-secondary text-center">
                Sign up today!
            </button>
        </a>
    </div>
</section>
{% endblock %}